.header-container {
  height: 60px;
  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  pointer-events: none;
}

.header {
  height: 60px;
  width: 60%;
  min-width: 480px;
  background-color: rgba(98, 109, 112, 1);
  padding: 0px 32px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(51, 57, 58, 0.777);

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s;
  pointer-events: auto;
}

.logo {
  color: white;
  font-weight: 800;
  font-size: x-large;
}

.topics-header-container {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
}

.link,
.link-active {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  margin-right: 10px;
}

.link-active {
  text-decoration: underline;
}
