.sidebar-main {
  display: flex;
  direction: row;
  padding-left: max(50px, 5%);
  padding-right: max(50px, 5%);
  justify-content: space-around;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin-left: 5%;
}

.topics {
  padding: 20px 20px;
  padding-bottom: 5px;
  width: 100%;
}

.headline {
  font-size: x-large;
  font-weight: bolder;
}

.content {
  font-size: larger;
  line-height: 28px;
}

.zeitstrahl-container,
.swords-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.line {
  height: 2px;
  background-color: cornflowerblue;
  border-radius: 2px;
  width: 96%;
  margin: 15px 0;
}

.marked {
  color: cornflowerblue;
  font-weight: bolder;
}

.zeitstrahl {
  width: 80%;
  max-width: 700px;
  border-radius: 30px;
}

.quiz {
  width: 100%;
  padding: 20px 0;
  border: 2px solid cornflowerblue;
  border-radius: 20px;
  background-color: rgba(100, 148, 237, 0.226);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  gap: 20px;
  margin-bottom: 19.2px;
}

.quiz-button,
.überprüfen-button,
.weiter-button {
  border: 2px solid blue;
  border-radius: 10px;
  font-size: large;
  background-color: blue;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.quiz-button:hover,
.überprüfen-button:hover,
.weiter-button:hover {
  background-color: white;
  color: blue;
}

.quiz-button:active,
.weiter-button:active {
  background-color: rgb(229, 238, 254);
}

.quiz-frage-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.quiz-frage {
  font-size: smaller;
  font-weight: normal;
}

.quiz-antwortmöglichkeit {
  font-size: smaller;
  font-weight: normal;
}

.quiz-line {
  height: 2px;
  background-color: cornflowerblue;
  border-radius: 2px;
  width: 96%;
  margin: 5px 0;
}

.überprüfen-button {
  border: 2px solid rgb(0, 163, 0);
  background-color: rgb(0, 163, 0);
  margin-top: 10px;
}

.überprüfen-button:hover {
  color: rgb(0, 163, 0);
}

.überprüfen-button:active {
  background-color: rgb(226, 255, 226);
}

.correct-style {
  color: rgb(0, 163, 0);
}

.wrong-style {
  color: red;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden; /* Text ist unsichtbar */
  width: 100%;
  background-color: rgba(159, 186, 237, 0.95);
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: normal;

  /* Positionierung über dem Text */
  position: absolute;
  z-index: 100;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);

  /* sanfte Animation */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.gemeinsamkeiten-grid {
  display: flex;
  grid-template-columns: 1fr;
  text-align: center;
  flex-direction: column;
}

.unterschiede-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 10px;
}

.in-text-img {
  width: 25vh;
  max-width: 200px;
  border-radius: 20px;
  float: right;
  margin-left: 1rem;
}

.swords-img {
  width: 10vh;
  max-width: 100px;
}

@media (max-width: 700px) {
  .main {
    width: 90%;
  }
}
